.infoBox {
    height: 100px;
    width: 80%;
    background-color: white;
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
}
.infoBoxWrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
@media (max-width: 820px) {
    .infoBoxWrapper-container {
        flex-direction: column;
    }
    .infoBox-container {
        height: 400px;
        width: 80%;
        background-color: white;
        display: flex;
        margin-bottom: 30px;
        justify-content: center;
    }
    .infoBoxWrapperProgress-container {
        display: flex !important;
        width: 100% !important;
        flex-direction: column !important;
        justify-content: space-evenly !important;
        align-items: center !important;
        margin-top: 10px !important;
    }
    .wrapperGraph-container {
        display: flex;
        flex-direction: column;
    }
    .graphDivWrapper-container {
        display: flex !important;
        flex-direction: column !important;
        justify-content: space-evenly !important;
        align-items: center !important;
    }
}
.infoBoxWrapperProgress {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}
.progressBarWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.startingSteps {
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.wrapperTextAndDivision {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    align-items: center;
    padding-left: 10px;
}
.buttonIconWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 10%;
}
@media (max-width: 450px) {
    .startingSteps {
        width: 100%;
        justify-content: center;
        flex-direction: column;
    }
    .startingStepsText {
        margin-right: 5px;
    }
    .divisionLine {
        border-bottom: 1px solid darkslategray;
        width: 200px;
        border-left: none !important;
        height: 0px !important;
    }
    .wrapperTextAndDivision {
        display: flex;
        flex-direction: row;
        padding-bottom: 5px;
        align-items: center;
    }
    .textDescription {
        width: 100% !important;
        justify-content: center;
        display:flex;
    }
    .buttonIconWrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .iconWrapper {
        display: flex;
        height: 0px !important;
        justify-content: center !important;
        align-items: center !important;
    }
 .submitButton {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-right: 40px !important;
}
}
.textDescription {
    width: 35%;
}
.inputTag {
    width: 30%;
}
.buttonIcon {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 60px;
    align-items: center;
}
.startingStepsText {
    font-size: 20px;
    font-weight: 500;
    color: darkslategray;
}
.loremText {
    width: 100% !important;
    display: flex;
    flex-direction: column;
}
.loremText span{
    padding: 10px;
}
.startingStepsNumberText {
    font-size: 20px;
    font-weight: 500;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: darkslategray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textDescriptionSpan {
    font-size: 25px;
    margin-left: 20px;
    font-weight: 300;
    font-weight: 400;
    color: darkslategray;
}
.inputTag input {
    height: 40px;
    width: 90%;
    color: darkslategray;
    font-size: 20px;
    font-weight: 300;
    border-color: 1px solid darkslategray;
    padding-left: 20px;
}
.button button {
    height: 30px;
    width: 60px;
    background-color: rgba(8, 8, 58, 0.767);
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.iconClass {
    color: white;
    background-color: limegreen;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.iconWrapper {
    display: flex;
    height: 70px;
    justify-content: flex-start;
    align-items: flex-start;
}
.divisionLine {
    border-left: 1px solid darkslategray;
    height: 80px;
}
.divisonBetweenGraph {
    border-bottom: 1px solid darkslategray;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.graphClass {
    display: flex;
    justify-content: center;
    align-items: center;
}
.graphDivWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.loremText {
    width: 30%;
}
.wrapperGraph {
    display: flex;
    flex-direction: column;
}
.submitButton {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 40px;
}
.submitButton button {
    color: white;
    width: 90px;
    height: 30px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}
.lineChartClass {
    background-color: red;
    height: 200px !important;
    width: 200px !important;
}
